@charset "UTF-8";
@import url("common.css");

main{
  align:center;
}
table{
  border: 1;
  border-color: greenyellow;
}
button.number{
  background-color: #2E2E2E;
  border: 0px;
  color: white;
  width: 100%;
  height: 100%;
  margin: 0px;
}
tr{
  width: 100%;
  height: 100%;
}
td{
  width: 160px;
  height: 50px;
}