@charset "UTF-8";
@import url("common.css");

/* ここからお願いします */

/* サンプルとして判定内にどのように書くか記述しておいたので 
    使用する時は背景の色や文字の大きさの削除お願いします。*/

/* PC用 */
body {
  background: black;
  font-size: 50px;
}
.row {
  display: flex;
  justify-content: space-between;
  border: 2px solid red;
  width: 100%;
  height:auto;
}
.output{
  background:black;
  border:solid black;
  color: white;
  text-align: right;
}
.num{
  background: rgb(68, 68, 68);
  color:white;
  border-radius: 50%;
}
.sub{
  background:gray;
  color:black;
  border-radius: 50%; 
}
.arithmetic{
  background:orange;
  color:white;
  border-radius: 50%; 
}

/* 横幅1023px以下の時 (モバイル　横画面用) */
@media screen and (max-width: 1023px) {
  body {
    background: blue;
  }
  p{
    font-size: 20px;
  }
  
}

/* 横幅500px以下の時 (モバイル　縦画面用) */
@media screen and (max-width: 500px) {
  body {
    background: red;
  }
  p{
    font-size: 10px;
  }
}